[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh/
[submodule "vimrc"]
	path = vimrc
	url = https://github.com/amix/vimrc
[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux
